body {
    background-color: #c7e4fa
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
    font-family: signika, å¾®è»Ÿæ­£é»‘é«”, 'sans-serif';
    padding: 0;
    margin: 0;
    text-decoration: none
}

p {
    font-weight: 300
}

p a {
    border-bottom: 1px dotted #f77f45;
    color: #5a92e0;
    padding: 0 2px
}

p a:hover {
    color: #c2454e
}

i {
    margin-right: 4px
}

.color-bar div {
    width: 25%;
    float: left;
    height: 16px
}

.color-bar .color1 {
    background: #f49760
}



.header {
    background: #f4fac7;
    color: #7bada0;
    padding-bottom: 20px
}

.header h1.site-title {
    text-shadow: 0 1px 0 #ec94ad;
    font: bold 86px/160px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif';
    display: inline-block
}

.header .beta {
    text-shadow: 0 1px 0 #c2454e;
    color: #f77f45;
    font: 300 22px/48px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif'
}

.header .first-description {
    height: 160px;
    font: 22px/40px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif';
    padding-top: 20px
}

.header .start-btn-row {
    margin: 20px auto
}

.header .start-btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffb158;
    color: #c2454e;
    display: block;
    text-align: center;
    min-width: 40px;
    min-height: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 4px 0 #f77f45;
    -webkit-box-shadow: 0 4px 0 #f77f45;
    box-shadow: 0 4px 0 #f77f45;
    height: 108px;
    font: bold 48px/48px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif';
    padding-top: 30px
}

.header .start-btn:hover {
    -moz-box-shadow: 0 6px 0 #f77f45;
    -webkit-box-shadow: 0 6px 0 #f77f45;
    box-shadow: 0 6px 0 #f77f45;
    margin-top: -2px;
    margin-bottom: 2px
}

.header .start-btn:active {
    -moz-box-shadow: inset 0 2px 0 #f77f45, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 2px 0 #f77f45, 0 1px 0 #fff;
    box-shadow: inset 0 2px 0 #f77f45, 0 1px 0 #fff;
    margin-top: 4px;
    margin-bottom: -4px
}

.main-content-1 {
    background: #c4d58c;
    padding: 40px 0;
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, .2)
}

.main-content-1 .content-section {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 2px 0 #4e6d57;
    -webkit-box-shadow: 0 2px 0 #4e6d57;
    box-shadow: 0 2px 0 #4e6d57;
    text-shadow: 0 1px 0 #4e6d57;
    background: #c4d58c;
    float: left;
    display: inline-block;
    padding: 0 20px 20px;
    margin-bottom: 20px
}

.main-content-1 .content-section h2 {
    color: #fff;
    display: inline-block;
    font: 30px/40px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif';
    padding: 20px 0
}

.main-content-1 .content-section p {
    color: #f4fac7;
    font: 22px/40px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif'
}

.main-content-2 {
    background: #4e6d57;
    color: #f4fac7;
    padding: 40px 0
}

.main-content-2 .big-title {
    color: #fff;
    font-size: 68px;
    line-height: 80px;
    padding-bottom: 20px
}

.main-content-2 p {
    font-size: 22px;
    line-height: 40px
}

.footer {
    background: #f4fac7;
    color: #699375;
    font-size: 16px;
    line-height: 20px;
    padding: 40px;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, .7)
}

.footer h3 {
    color: #c2454e;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px
}

.color-bar-bottom div {
    height: 32px
}

.setting-header,
.result-header {
    background: #699375;
    padding-bottom: 24px
}

.setting-header h2,
.result-header h2 {
    text-shadow: 0 2px 0 #4e6d57;
    color: #f4fac7;
    font-size: 48px;
    line-height: 60px;
    padding-top: 40px
}

.setting-header h2 a,
.result-header h2 a {
    color: #fff;
    font-weight: 300
}

.setting-content,
.result-content {
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .6);
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .6);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .6);
    background: #f4fac7;
    color: #719e81;
    line-height: 40px;
    padding: 24px 0
}

.setting-content .row,
.result-content .row {
    min-height: 60px
}

.setting-content .label,
.result-content .label {
    font-size: 24px
}

.setting-content .dropdown,
.result-content .dropdown {
    -moz-box-shadow: 0 3px 0 #699375;
    -webkit-box-shadow: 0 3px 0 #699375;
    box-shadow: 0 3px 0 #699375;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    font-size: 18px;
    height: 40px;
    background: #7bad8d;
    color: #fff;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.setting-content .dropdown option,
.result-content .dropdown option {
    -moz-box-shadow: 0 2px 1px #699375;
    -webkit-box-shadow: 0 2px 1px #699375;
    box-shadow: 0 2px 1px #699375;
    background: #4e6d57
}

.setting-content .dropdown:hover,
.result-content .dropdown:hover {
    -moz-box-shadow: 0 5px 0 #699375;
    -webkit-box-shadow: 0 5px 0 #699375;
    box-shadow: 0 5px 0 #699375;
    margin-top: -2px
}

.setting-content label,
.result-content label {
    position: relative
}

.setting-content label:after,
.result-content label:after {
    content: '<>';
    font: 18px monospace;
    color: #f4fac7;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 0;
    border-bottom: 1px solid #f4fac7;
    position: absolute;
    pointer-events: none
}

.setting-content label:before,
.result-content label:before {
    content: '';
    right: 6px;
    top: 0;
    width: 30px;
    height: 20px;
    background: #7bad8d;
    position: absolute;
    pointer-events: none;
    display: block
}

.setting-content .random-btn,
.result-content .random-btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #c2454e;
    color: #fff;
    display: block;
    text-align: center;
    min-width: 40px;
    min-height: 20px
}

.setting-content .random-btn:hover,
.result-content .random-btn:hover {
    -moz-box-shadow: 0 3px 0 #883138;
    -webkit-box-shadow: 0 3px 0 #883138;
    box-shadow: 0 3px 0 #883138;
    margin-top: -1px;
    margin-bottom: 1px
}

.setting-content .random-btn:active,
.result-content .random-btn:active {
    -moz-box-shadow: inset 0 1px 0 #883138;
    -webkit-box-shadow: inset 0 1px 0 #883138;
    box-shadow: inset 0 1px 0 #883138;
    margin-top: 2px
}

.setting-content .submit-btn,
.result-content .submit-btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    text-align: center;
    min-width: 40px;
    min-height: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 5px 0 #f77f45;
    -webkit-box-shadow: 0 5px 0 #f77f45;
    box-shadow: 0 5px 0 #f77f45;
    background: #ffb158;
    color: #c2454e;
    height: 60px;
    font: 28px/60px 'Signika', 'å¾®è»Ÿæ­£é»‘é«”', 'sans-serif'
}

.setting-content .submit-btn:hover,
.result-content .submit-btn:hover {
    -moz-box-shadow: 0 7px 0 #f77f45;
    -webkit-box-shadow: 0 7px 0 #f77f45;
    box-shadow: 0 7px 0 #f77f45;
    margin-top: -2px;
    margin-bottom: 2px
}

.setting-content .submit-btn:active,
.result-content .submit-btn:active {
    -moz-box-shadow: inset 0 2px 0 #f77f45;
    -webkit-box-shadow: inset 0 2px 0 #f77f45;
    box-shadow: inset 0 2px 0 #f77f45;
    margin-top: 5px
}

.result-content {
    padding-top: 20px
}

.result-content .result-section {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -moz-box-shadow: 0 4px 0 #4e6d57;
    -webkit-box-shadow: 0 4px 0 #4e6d57;
    box-shadow: 0 4px 0 #4e6d57;
    background: #7bad8d;
    color: #f4fac7;
    text-shadow: 0 1px 0 #4e6d57;
    margin-bottom: 20px
}

.result-content .result-section a {
    color: #fffe8a;
    border-bottom: 2px dotted #f1ff16
}

.result-content .result-section a:hover {
    color: #fff86f;
    border-bottom: 2px solid #fff86f
}

.result-content .result-section .warning {
    background: #ffb158;
    color: #c2454e;
    text-shadow: none;
    font-weight: 700;
    cursor: pointer
}

.result-content .result-section .final-result {
    background: #699375;
    color: #fff
}

.result-content .result-section .final-result-radius {
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    border-radius: 0 0 16px 16px
}

.result-content .row .row {
    border-bottom: 1px dashed #4e6d57;
    line-height: 70px
}

.result-content .row .row:last-child {
    border: 0
}

.result-content .columns {
    font-size: 20px
}

.submit-row,
.result-back-row {
    height: 80px
}

.setting-manual {
    line-height: 1.8
}

.setting-manual strong {
    color: #678873
}

#evaluation {
    line-height: 1.8;
    padding: 16px 10px
}