<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><span style="text-align: center; color: #339966;">THANKS YOU</span></h1>
<h3 style="text-align: center;"><span style="text-align: center; color: #000000;">看起來所有的資料都處理完畢了 感謝各位配合</span></h3>
<p style="text-align: center;"><iframe class="giphy-embed" src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="480" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<center></center>
<p>&nbsp;</p>
<p><a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a></p>