<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Latex Labeling Project</title>

<link rel="stylesheet" href="suggestion.css">
</head>
<body>
<div class="wrapper">
<header class="header">
<div class="color-bar-top color-bar">
<div class="color1"></div>
<div class="color1"></div>
<div class="color1"></div>
<div class="color1"></div>
</div>
<div class="row">
<div class="title-wrapper large-7 columns">
<h1 class="site-title">Thanks you for your input!</h1>
</div>
<img src="image.JPG" style="width:600px;height:300px;">
</div>




<div class="row start-btn-row">
<a href="start" class="start-btn btn large-8 large-centerd small-10 small-centered columns">go back</a>
</div>
<div class="row">
<div class="large-4 large-offset-4 columns" style="border-radius: 4px;background: #7bad8d;box-shadow: 0 3px 0 #699375;">

</div>
<div class="row browser-warning" style="display: none">
<p style="text-align:center;font-weight: bold">您正在使用過時的瀏覽器，本站強烈建議使用<a href="https://www.google.com/intl/zh-TW/chrome" target="_blank">Google Chrome</a>。</p>
</div>
</header>
<article class="main-content-1">
<div class="row">
<div class="content-section large-12 columns" style="padding-top:20px">
</div>
</div>


</article>
<article class="main-content-2">

</footer>
<div class="color-bar-bottom color-bar">
<div class="color1"></div>
<div class="color1"></div>
<div class="color1"></div>
<div class="color1"></div>
</div>
</div>

</body>
</html>